# -----------------------------
# Python
# -----------------------------
*.py[cod]
*.pyo

# -----------------------------
# Virtual Environment
# -----------------------------
.venv/
venv/

# -----------------------------
# Environment Variables
# -----------------------------
backend/.env
.env

# -----------------------------
# Uploaded Files
# -----------------------------
backend/storage/uploads/

# -----------------------------
# Vector Database (later)
# -----------------------------
backend/storage/vectorstore/

# -----------------------------
# IDE
# -----------------------------
.vscode/
.idea/

# -----------------------------
# OS
# -----------------------------
.DS_Store
Thumbs.db